body {
     font-family: Arial, Helvetica, sans-serif;
}

.container {
     max-width: 1200px;
     margin: 0 auto;
}

.initial__window{
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
     text-align: center;
}

.main__title {
     text-align: center;
     font-size: 10px;
}

.question__window {
     padding: 10vh 0px 0px 0px;
}

.main__question {
     max-width: 75%;
     text-align: center;
     margin: 0 auto;
     font-size: 30px;
     margin-bottom: 10vh;
}

.footnote {
     text-align: end;
     font-size: 12px;
     font-weight: 400;
}

.answer__window {
     display: flex;
     justify-content: space-between;
}

.answer__input {
     width: 100%;
     padding: 10px 15px;
     background-color: black;
     border: 1px solid #fff;
     border-radius: 15px;
     outline: transparent;
     color: #fff;
     font-weight: 600;
}

.answer__button {
     margin-left: 20px;
     background-color: black;
     color: #fff;
     padding: 10px 15px;
     border-radius: 15px;
     text-decoration: underline;
     cursor: pointer;
     transition: all .2s ease-in;
     font-weight: 400;
}

.answer__button:hover {
     transform: scale(1.1);
}

.window {
     display: none;
     background-color: brown;
     position: absolute;
     height: 100%;
     width: 100%;
}

.none{
     display: none;
}

.bad {
     color: red;
}