:root{
     --body-bg: #fff;
     --card-bg: #fff;
     --main-color-text: #14142B;
     --card-shadow: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.09));
     --change-theme-icon: linear-gradient(135deg, rgba(252, 252, 252, 1) 0%, rgba(223, 247, 120, 1) 100%);
     --input-bg: #EFF0F7;
     --input-color: #000;
     --input-border: none;
     --change-theme-icon-hover: linear-gradient(135deg, rgba(191, 195, 198, 1) 0%, rgba(35, 54, 93, 1) 100%);
     animation: present  1.5s ease-in-out;
     --border-change-theme: 2px solid black;
     --border-change-modal-window: 1px solid transparent;
     --font-size-timer: 8px;
}

:root[dark-theme="true"]{
     --body-bg: #000;
     --card-bg: #000;
     --main-color-text: #fff;
     --card-shadow: drop-shadow(0px 8px 16px rgba(255, 255, 255, 0.5));
     --change-theme-icon: linear-gradient(135deg, rgba(191, 195, 198, 1) 0%, rgba(35, 54, 93, 1) 100%);
     --input-bg: #000;
     --input-color: #fff;
     --input-border: 1px solid #fff;
     --change-theme-icon-hover: linear-gradient(135deg, rgba(252, 252, 252, 1) 0%, rgba(223, 247, 120, 1) 100%);
     --border-change-theme: 2px solid white;
     --border-change-modal-window: 1px solid white;
     --font-size-timer: 12px;
}

@keyframes present {
     0%{
          opacity: 0;
     }
     100%{
          opacity: 1;
     }
} 

body {
     font-family: 'Gilroy';
     background-color: var(--body-bg);
}

.main__container {
     max-width: 1200px;
     margin: 0 auto;
     display: grid;
     grid-column-gap: 3vw;
     grid-template-columns: 1fr 1fr;
     padding: 15vh 0vw;
}

.active__window {
     display: flex;
     flex-direction: column;
     align-items: center;
     align-self: center;
}

.question__title {
     margin: 0;
     font-weight: 700;
     font-size: 1.9em;
     line-height: 1.1;
     color: var(--main-color-text);
     text-align: center;
     align-self: center;
}

.question__note {
     font-size: 10px;
     text-align: right;
     letter-spacing: 0.75px;
     color: var(--main-color-text);
}

.info__window {
     display: grid;
     grid-template-rows: 1fr 9fr 1fr 1fr;
     background-color: var(--card-bg);
     height: 65vh;
     padding: 1vh 2vw;
     border-radius: 32px;
     filter: var(--card-shadow);
}

.questionWindow__button {
     width: 100%;
     background-color: transparent;
     border: none;
     font-weight: 600;
     font-size: 18px;
     background-color: rgba(0, 186, 136, 0.3);
     border-radius: 10px;
     color: #fff;
     padding: 1vh 2vw;
     margin-bottom: 20px;
     transition: all .2s ease-in;
     cursor: pointer;
}

.questionWindow__button {
     background-color: rgba(0, 186, 136, 1);
}

.stats__answer {
     filter: var(--card-shadow);
     background: var(--card-bg);
     border-radius: 32px;
     display: flex;
     justify-content: space-between;
     padding: 0.5vh 1.5vw;
     width: 100%;
}

.answer__input {
     background: var(--input-bg);
     border-radius: 16px;
     border: var(--input-border);
     margin-top: 4vh;
     margin-bottom: 2vh;
     width: 100%;
     padding: 1vh 2vw;
     outline: none;
     cursor: default;
    color: var(--input-color);
}

.answer__input::placeholder {
     color: var(--input-color);
}

.answer__button {
     background: #D02121;
     border-radius: 120px;
     border: none;
     font-weight: 600;
     font-size: 16px;
     align-items: center;
     text-align: center;
     letter-spacing: 0.75px;
     color: #F7F7FC;
     padding: 1vh 3vw;
     transition: all .2s ease-in;
     cursor: pointer;
     opacity: 0;
}

.answer__button:hover {
     transform: scale(1.1);
}

.total_answer {
     font-weight: 700;
     font-size: 18px;
     letter-spacing: 1px;
}

.true__answer {
     color: #00BA88;
}

.false__answer {
     color: #ED2E7E;
}

.none {
     display: none;
}

.answer__false {
     background-color: #FFF3F8;
     border: 2px solid #C30052;
}

.answer__false::placeholder {
     color: #C30052;
     font-weight: 700;
}


.answer__warning {
     background-color: #F8FFCA;
     border: 2px solid #B4C66C;
     color: #000
}

.answer__warning::placeholder {
     color: #B4C66C;
     font-weight: 700;
}

.modal__window {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(0, 0, 0, 0.5);;;
     width: 100%;
     height: 100%;
}

.content__wrap {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: var(--card-bg);
     padding: 8vh 7vw;
     border-radius: 1vw;
     color: var(--main-color-text);
     border: var(--border-change-modal-window);
}

.modal__window__title {
     text-align: center;
}

.modal__window__btn {
     text-align: center;
     display: block;
     margin-left: auto;

     width: 15%;
     border: none;
     font-weight: 600;
     font-size: 18px;
     background-color: rgba(255, 128, 0, 0.8);
     border-radius: 10px;
     color: #fff;
     margin-bottom: 20px;
     transition: all .2s ease-in;
     cursor: pointer;
     padding: 1vh;
}

.modal__window__btn:hover {
     transform: scale(1.05);
}

.closeModal {
     width: 50%;
     font-size: 16px;
     margin: 0 auto;
     padding: 0.5vw 2vw;
}


.timer__window {
     font-size: var(--font-size-timer);
     color: #797979;
     opacity: 0;
}

.chane__theme {
     position: absolute;
     left: 95%;
     top: 1%;
     transform: translate(-100%, 0%);
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-column-gap: 5px;
     padding: 2px 15px;
     border: var(--border-change-theme);
     border-radius: 20px;
     cursor: pointer;
}

.chane__theme>.theme__icon {
     display: block;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     align-self: center;
     cursor: pointer;
     background: var(--change-theme-icon);
     transition: all .3s ease;
}

.chane__theme>.theme__icon:hover {
     background: var(--change-theme-icon-hover);
     transform: scale(1.05);
}


.chane__theme h1 {
     align-self: center;
     font-size: 12px;
     font-weight: 100%;
     text-align: center;
     color: var(--main-color-text);
}